{% extends "html.j2" %}

{% block content %}
    <div class="left-column">
      <div>
        <h1>{{ title }}</h1>
        {% if email is defined %}
          <h2>Email: <a href="mailto:{{ email }}">{{ email }}</a></h2>
        {% endif %}
        {% for contactinfo_item in contactinfo %}
          {% for title, contacts in contactinfo_item.items() %}
            <h2>{{ title }}</h2>
            <table class="listing">
              <tbody>
                {% for contact, details in contacts.items() %}
                  <tr>
                    <td>{{ contact }}</td>
                    <td>{{ details.roles|default([])|join("<br />")|safe }}</td>
                    <!-- td>details.tel|default("")</td // -->
                    <!-- td>details.email|default("")</td // -->
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
{% endblock %}