{% extends "html.j2" %}

{% block content %}
    <div class="left-column">
      <h1>{{ title }}</h1>
      {% if body is defined %}
      <h2>Terugblik/Rétrospective: <a href="/past/{{ html_filename }}">hier/ici</a>.</h2>
      {% endif %}
      {% if announcement is defined %}{{ announcement|safe }}{% endif %}
      {% if download is defined %}
      {% set downloads = [download] %}
      {% endif %}
      {% for download in downloads %}
      <h2>Downloads</h2>
      <ul class="card-list">
        <li class="card"><a href="/downloads/{{ download.link }}">{{ download.txt }}</a></li>
      </ul>
      {% endfor %}
      {% if slides  %}
      <h2>Foto's</h2>
      <div class="slideshow">
        {% for slide_conf in slides %}
          {% if slide_conf.link is defined %}
          <a href="{{ slide_conf.link }}">
          {% endif %}
          <img class="slides" src="../img/{{ slide_conf.img }}" alt="{{ slide_conf.txt }}">
          {% if slide_conf.link is defined %}
          </a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
{% endblock %}