{% extends "html.j2" %}

{% block content %}

    {%if welcome %}
    <div class="left-column">
       {{ welcome }}
    </div>
    {% endif %}

    <!-- Left Column: Slideshow -->
    <div class="left-column">
      <div class="slideshow">
        {% for slide in slides %}
          {% if slide.link is defined %}
          <a href="{{ slide.link }}">
          {% endif %}
          <img class="slides" src="{{ slide.img }}" alt="{{ slide.txt }}">
          {% if slide.link is defined %}
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Right Column: Agenda -->
    <div class="right-column">
      <div class="agenda">
        {% if future is defined %}
        <h3>{{ future.title }}</h3>
        <ul class="card-list">
        {% for page in future.pages|sort(attribute="link", reverse=true) %}
          {% if loop.index < 10 %}
            <li class="card"><b>{{ format_date(page.from) }}{% if page.to is defined %} - {{ format_date(page.to) }}{% endif %}</b><br><a href="{{ page.link }}">{{ page.title }}</a>{% if page.download is defined %} <a href="{{ page.download.link }}">{{ page.download.txt }}</a>{% endif %}{% if page.title_bold is defined %} <b>{{ page.title_bold }}</b>{% endif %}</li>
          {% elif loop.index == 10 %}
            <p><a href="/past.html">Meer...</a></p>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}

        {% if past is defined %}
        <h3>{{ past.title }}</h3>
        <ul class="card-list">
        {% for page in past.pages|sort(attribute="link", reverse=true) %}
          {% if loop.index < 10 %}
            <li class="card"><b>{{ format_date(page.from) }}{% if page.to is defined %} - {{ format_date(page.to) }}{% endif %}</b><br><a href="{{ page.link }}">{{ page.title }}</a></li>
          {% elif loop.index == 10 %}
            <p><a href="/past.html">Meer...</a></p>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
{% endblock %}