{% extends "html.j2" %}

{% block content %}
    <!-- Left Column: Slideshow -->
    <div class="left-column">
      <div class="slideshow">
        {% for name, slide in slides.items() %}
          {% if slide.link is defined %}
          <a href="{{ slide.link }}">
          {% endif %}
          <img class="slides" src="{{ slide.img }}" alt="{{ slide.txt }}">
          {% if slide.link is defined %}
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <!-- Right Column: Agenda -->
    <div class="right-column">
      <div class="agenda">
        {% if future is defined %}
        <h3>{{ future.title }}</h3>
        <ul>
          <li><strong>16-17 AUG '25:</strong> Open Belgisch Kampioenschap Postuur &amp; Kleur Grasparkieten</li>
          <li><strong>27 SEP '25:</strong> Belgian Budgerigar Fest</li>
        </ul>
        {% endif %}

        {% if past is defined %}
        <h3>{{ past.title }}</h3>
        <ul>
        {% for page in past.pages %}
          {% if loop.index < 10 %}
            <li>{{ format_date(page.from) }}{% if page.to is defined %} - {{ format_date(page.to) }}{% endif %}: <a href="{{ page.link }}">{{ page.title }}</a></li>
          {% elif loop.index == 10 %}
            <p><a href="/past.html">Meer...</a></p>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
{% endblock %}