body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #666;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    flex: 2;
    padding: 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.fullwidth {
    width: 100%;
}

/* Slideshow */
.slideshow {
    max-width: 100%;
    position: relative;
}

.slides {
    display: none;
    width: 100%;
}

.agenda h3 {
    margin-top: 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .container {
    flex-direction: column;
    }
}

table.listing {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

table.listing th, 
table.listing td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

table.listing th {
    background-color: #333;
    color: white;
}

table.listing tr:nth-child(odd) {
    background-color: #fbfec8ff;
}

table.listing tr:nth-child(even) {
    background-color: #e2e2e2ff;
}

table.listing tr:hover {
    background-color: #e6f7ff; /* Light blue on hover */
}